@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

.svg-icon {
  width: 1em;
  height: 1em;
  background-color: currentColor;
  display: inline-block;
  mask-image: var(--svg);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.i-spark {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='black' d='M5.827 13.004a.19.19 0 0 1 .346 0l.17.371a8.693 8.693 0 0 0 3.3 3.638l.265.155a.181.181 0 0 1 0 .316l-.265.155a8.693 8.693 0 0 0-3.3 3.638l-.17.372a.19.19 0 0 1-.346 0l-.17-.372a8.693 8.693 0 0 0-3.3-3.638l-.265-.155a.181.181 0 0 1 0-.316l.265-.155a8.693 8.693 0 0 0 3.47-4.01Zm.17 3.486l-.175.206c-.125.14-.253.277-.385.41l-.2.198l-.027.024l.227.223l.195.203l.19.208l.175.205l.175-.205c.125-.14.253-.278.385-.411l.227-.223l-.027-.024c-.135-.13-.267-.263-.395-.4l-.19-.208zm8.476-13.76a.331.331 0 0 1 .605 0l.15.336l.148.314l.195.39l.226.42l.112.196a15.214 15.214 0 0 0 3.895 4.437l.427.317a15.192 15.192 0 0 0 1.383.878a.317.317 0 0 1 0 .553a15.258 15.258 0 0 0-1.082.67l-.36.251a15.213 15.213 0 0 0-4.263 4.71l-.131.232a14.95 14.95 0 0 0-.402.775l-.147.314l-.15.336a.331.331 0 0 1-.606 0l-.15-.336l-.148-.314l-.196-.39l-.225-.42l-.113-.196a15.214 15.214 0 0 0-3.894-4.437l-.428-.316a15.153 15.153 0 0 0-1.382-.88a.317.317 0 0 1 0-.552a15.298 15.298 0 0 0 1.082-.669l.36-.252a15.215 15.215 0 0 0 4.262-4.71l.132-.232c.141-.254.275-.512.402-.775l.147-.314zm.302 3.615a17.215 17.215 0 0 1-3.663 3.95a17.214 17.214 0 0 1 3.663 3.95a17.212 17.212 0 0 1 3.663-3.95a17.213 17.213 0 0 1-3.663-3.95'/%3E%3C/g%3E%3C/svg%3E");
}

.i-rss {
  --svg: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22currentColor%22%20aria-hidden%3D%22true%22%20data-slot%3D%22icon%22%20class%3D%22size-full%20text-%5B%23ee832f%5D%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M3.75%204.5a.75.75%200%200%201%20.75-.75h.75c8.284%200%2015%206.716%2015%2015v.75a.75.75%200%200%201-.75.75h-.75a.75.75%200%200%201-.75-.75v-.75C18%2011.708%2012.292%206%205.25%206H4.5a.75.75%200%200%201-.75-.75V4.5Zm0%206.75a.75.75%200%200%201%20.75-.75h.75a8.25%208.25%200%200%201%208.25%208.25v.75a.75.75%200%200%201-.75.75H12a.75.75%200%200%201-.75-.75v-.75a6%206%200%200%200-6-6H4.5a.75.75%200%200%201-.75-.75v-.75Zm0%207.5a1.5%201.5%200%201%201%203%200%201.5%201.5%200%200%201-3%200Z%22%20clip-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}
